html, body {
    height: 100%;
    background: #f5dac7;
    color: #904d37;
    font-family: Georgia, serif;
    font-style: normal;
    height: 100%;
}

#sidebar {
    padding-top: 150px;
}


.sidenav {
    padding: .5rem;
}

a {
    color: #904d37;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #4f2e2c;
}

img {
    max-height: 540px;
}

h1 {
    color: #e28976;
}