html, body {
    height: 100%;
    background: black;
    color: white;
}

#sidebar {
    padding-top: 150px;
}

.sidenav {
    padding: .5rem;
}

a {
    color: white;
    display: block;
    padding: 0;
}

a:hover {
    text-decoration: none;
}
