html, body {
    height: 100%;
    background: white;
    color: black;
    font-family: Georgia, serif;
    font-style: normal;
}

#sidebar {
    padding-top: 150px;
}

.sidenav {
    padding: .5rem;
}

a {
    color: black;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

img {
    max-height: 540px;
}